/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
  --bright-link: #17bebb;
  --light-text: #f2f2f2;
  --dark-teal: #00798c;
}

 *{
   box-sizing: border-box;
   /* border: 0.5px solid red; */
 }

 body {
  background-color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

form {
  align-content: center;
  background-color: var(--light-text);
  padding: 20px;
  width: 60%;
}

img{
  width: 50%;
}

input[type=text],
input[type=password],
input[type=email],
select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=submit] {
 background-color: var(--bright-link);
 border-radius: 4px;
 border: none;
 color: #303030;
 cursor: pointer;
 font-size: 1em;
 margin: 8px 0;
 padding: 14px 20px;
 width: 40%;
}

input[type=submit]:hover {
  background-color: #45a049;
  color: #f2f2f2;
}

section[id*='review'] {
  background-color: #DCDCDC;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--light-text);
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

ul{
  padding: 0px;
  text-align: center;
}

.address{
  text-align: center;
}

.admin-orders-table {
  table-layout: fixed;
  margin-left: 2%;
  width: 50%;
}

.btn {
  background-color: var(--bright-link);
  border-radius: 7px;
  box-shadow: 2px 2px 4px #505050;
  color: #303030;
  display: inline-block;
  font-size: 1.3em;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
}

.btn-small {
  background-color: var(--bright-link);
  border-radius: 4px;
  box-shadow: 2px 2px 4px #505050;
  color: #303030;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
}
.btn:hover, .btn-small:hover {
  background-color: var(--dark-teal);
  color: var(--light-text);
  box-shadow: 2px 2px 5px #707070;
}

.error-flash {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
}

.grid-container{
 	display: grid;
 	grid-template-columns: repeat(4, 250px);
  height: 400px;
  margin-left: 1em;
  margin-top: 1em;
 	grid-template-rows: auto;
 	grid-gap: 2%;
}

.grid-item{
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #002244;
 	text-align: center
}

.item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
}

.item-show-item{
 	padding: 20px;
 	text-align: right;
}

.item-stats {
  border-right: 2px solid var(--dark-teal);
  padding-top: 1em;
  padding-right: 1em;
  width: 23%;
  height: 100vh;
}

.item-stat-table {
  margin-bottom: 2em;
  table-layout: fixed;
}

.items-main {
  display:inline-flex;
}

.list-reviews {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.login-options {
  margin-top: 0.8em;
  margin-right: 0.8em;
}

.login-options a {
  text-decoration: none;
}

.merchant-index-link {
  border: 2px solid #303030;
  text-decoration: none;
  padding: 2em 3em;
  border-radius: 12px;
  font-size: 1em;
  text-align: center;
  height: 200px;

}

.merchant-items-table,
.merchant-orders-show-table {
  table-layout: fixed;
}

.merchant-orders-table {
  table-layout: fixed;
  width: 60%;
}

.merchant-show-btns {
  display: flex;
  justify-content: center;
}

.merchant-stats-area {
  display: flex;
  justify-content: center;
}

.merchant-stats,
.merchant-address {
  border: 2px solid var(--dark-teal);
  border-radius: 5px;
  margin: 1em 0.5em;
  padding: 1em;
  width: 25%;
}

.order-show-table {
  table-layout: fixed;
}

.page-title {
  text-align: center;
}

.reg-link:link, .reg-link:visited {
  color: var(--dark-teal);
  text-decoration: none;
}

.reg-link:hover {
  color: purple;
  text-decoration: underline;
}
.sign-up {
  color: var(--light-text);
  font-size: 0.8em;
}

.sign-up-link {
  font-size: 1em;
  padding-left: 0.4em;
  color: var(--bright-link);
}

.sign-up-link:hover {
  text-decoration: underline;
}

.success-flash {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #002244;
  height: 6em;
}

.topnav-link {
  color: var(--light-text);
  text-align: center;
  padding: 1.5em 16px;
  text-decoration: none;
  font-size: 1.5em;
}

.topnav-link:hover {
  background-color: var(--bright-link);
  color: black;
}

.users-table {
  table-layout: fixed;
  width: 60%;
}

#green-btn {
  background-color: #00b32d;
}
#green-btn:hover {
  background-color: #008020;
}
#red-btn {
  background-color: #e6004c;
}
#red-btn:hover {
  background-color: #b3003b;
}

#cart-item-img{
  width: 150px;
}

#cart-nav-img {
  width: 100%;
}

#cart-indicator {
  width: 5em;
}

#cart-link {
  padding: 4.5em 0 2em 0;
  margin: 0;
}

#cart-p {
  margin: 0;
  padding: 0.2em;
  color: var(--light-text);
}

#home-indicator {
  width: 10em;
}

#home-link {
  padding: 4em 0 0 0;
}

#home-logo {
  padding: 0.6em;
  width: 100%;
}

#items-title {
  border-bottom: 2px solid var(--dark-teal);
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

#merchant-order-show {
  width: 50%;
}

#profile-order-show {
  width: 50%;
}

#space-btn {
  margin: 0 0.3em;
}
